<div class="small-12 columns">
  <hr />
  <p>Nat's Inspiration page. <a href="/about">About</a>.</p>
  <hr />
</div>

<div id="container" class="large-12 columns">
  <% @images.each do |url| %>
    <div class="embed uncached" data-embed="<%= url %>"></div>
  <% end %>

  <% @cached.each do |url| %>
    <div class="item">
      <a href="<%= url %>"><img src="<%= @idb.get_image url %>" /></a>
    </div>
  <% end %>
</div>

<div class="small-12 columns">
  <hr />
  <p><%= @images.count %> images. <%= @cached.count %> cached.</p>
</div>
