<div id="container" class="">
  <div style="width: 300px;" class="item isotope-item">
    <p>Nat's Inspiration page.</p>
    <p><a href="/about">About</a>.</p>
    <p>Displaying <%= @images.count %> uncached images and <%= @cached.count %> cached. The library has <%= @count[:i] %> images, <%= @count[:c] %> of which are cached.</p>
  </div>
  <% @images.each do |url| %>
    <div class="embed uncached" data-embed="<%= url %>"></div>
  <% end %>

  <% @cached.each do |url| %>
    <div class="item">
      <a href="<%= url %>"><img src="<%= @idb.get_image url %>" /></a>
    </div>
  <% end %>
</div>
